{% extends "base.html" %}
{% load crispy_forms_tags%}
{% block content %}

<form style="width: 50%; margin: auto;" method="post">
    <h1>{{type}} page</h1>
    {% if form.non_field_errors %}
    <div class="alert alert-danger text-dark">
        {% for er in form.non_field_errors %}
        <p>{{ er }}</p>
        {% endfor %}
    </div>
    
    {% endif %}
    <div>
    {% csrf_token %}
    <!-- {{form|crispy}} -->
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}
    </div>
    <button class="btn btn-primary mt-4">Submit</button>
</form>
{% endblock content %}